{% if resume.projects.size > 0 %}
<section>
  <div class="npb">
  <h2 id="projects" class="h3 hr-bottom">
    {{ strings.resume.projects | default:"Projects" }}
    <span class="symbol {{ icons.projects | default:'icon-tools' }}"></span>
  </h2>
  {% for project in resume.projects %}
  <section>
    <header class="{% unless forloop.first %}mt2{% endunless %}">
      <h3 class="h4 faded">
        <span class="bc">{{ project.title }}</span>
      </h3>
    </header>
    <p>{{ project.description }}</p>
  </section>
  {% if forloop.first %}</div>{% endif %}
  {% endfor %}
</section>
{% endif %}
